$themeColor: #ff931f;
$lightOrange: #ffeeca;
$orange: #ffc547;

$grey: #707585;
$light-grey: #acacac;
$dark1: #42486a;

$primaryBackgroundColor: #ffffff;
$secondaryBackgroundColor: #f8f4f1;

$smallW: calc(375 * 0.8) * 1px;
$smallH: 215 * 0.8 * 1px;
$bigH: 540 * 0.8 * 1px;
$bigW: 800 * 0.8 * 1px;
$marg: calc(($bigW - 2 * $smallW) / 2);
